<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="jumbotron text-center">
  <h1>Dobrodošli NaTanjir</h1>
  <p>Ovde možete pronaći najbolje restorane i naručiti hranu iz udobnosti svog doma.</p>
  <a routerLink="/prijaviSe" class="btn btn-success btn-lg mr-2" *ngIf="!myAuth.isLogiran()">Prijavi se</a>
  <a routerLink="/registrujSe" class="btn btn-outline-success btn-lg" *ngIf="!myAuth.isLogiran()">Registruj se</a>
</div>

</body>
</html>
