<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="jumbotron">
  <div class="login-container">
    <h2 class="text-center mb-4">Prijava</h2>
    <form>
      <div class="form-group">
        <label for="korisnickoIme">Korisničko ime</label>
        <input type="text" class="form-control" id="korisnickoIme" aria-describedby="korisnickoIme" placeholder="Unesite korisničko ime"
               [ngModelOptions]="{standalone: true}" [(ngModel)]="loginRequest.korisnickoIme">
      </div>
      <div class="form-group">
        <label for="lozinka">Lozinka</label>
        <input type="password" class="form-control" id="lozinka" placeholder="Unesite lozinku"
               [ngModelOptions]="{standalone: true}" [(ngModel)]="loginRequest.lozinka">
      </div>
      <button type="submit" class="btn btn-success btn-block" (click)="prijaviSe()">Prijavi se</button>
    </form>
    <p class="mt-3 text-center">Nemate račun? <a routerLink="/registrujSe">Registrujte se</a></p>
  </div>
</div>

</body>
</html>
