<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">


  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
          integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
          crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
          integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
          crossorigin="anonymous"></script>

</head>

<body>

<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <a>
        <h3>NaTanjir</h3>
      </a>
      <a routerLink="">
        <strong>nT</strong>
      </a>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a routerLink="">
          <i class="fa fa-home"></i>
          Početna stranica
        </a>
      </li>
      <li>
        <a routerLink="">
          <i class="fa fa-cutlery"></i>
          Pregled restorana
        </a>

      </li>

      <li *ngIf="myAuth.isAdmin()">
        <a routerLink="/adminPanel/dodavanjeVlasnikaRestorana">

          <i class="fa fa-cogs" aria-hidden="true"></i>

          Admin panel
        </a>

      </li>

      <li *ngIf="myAuth.isVlasnik()">
        <a [routerLink]="['/vlasnikPanel/upravljanjeRestoranima/'+myAuth.getAuthorizationToken()?.korisnickiNalogID]">

          <i class="fa fa-cogs" aria-hidden="true"></i>

          Vlasnik panel
        </a>

      </li>

      <li>
        <a routerLink="">

          <i class="fa fa-info" aria-hidden="true"></i>

          O nama
        </a>

      </li>


      <hr>
      <li *ngIf="!myAuth.isLogiran()">
        <a style="cursor: pointer" routerLink="/prijaviSe">


          <i class="fa fa-sign-out" aria-hidden="true">Prijavi se</i>

        </a>
      </li>

      <li *ngIf="myAuth.isLogiran()" (click)="odjaviSe()">
        <a style="cursor: pointer" routerLink="">


          <i class="fa fa-sign-out" aria-hidden="true">Odjavi se</i>

        </a>
      </li>

    </ul>
  </nav>

  <div id="content">


    <router-outlet></router-outlet>

  </div>

</div>


</body>

</html>
